<!DOCTYPE html>
<html>
<head>
    <%- include("partials/header"); %>
    <title> I HATE MY SELF</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <br>
    <br>
    <h1>List of parts</h1>
            <div class = "row">
                <% for (let [index,products] of PartList.entries() ) { %>
                    <tr>
                        <div class="col-md-3">
                            <div class="card" style="width: 18rem;">
                                <img src= <%= products.imageLink %> class="card-img-top" alt=$<%= products.buyPrice%>>
                                <div class="card-body">
                                <h5 class="card-title"><%= products.productName%></h5>
                                <p class="card-text"><%= products.productLine%> by <%= products.productBrand%></p>
                                <a href="#" class="btn btn-primary">$<%= products.buyPrice%></a>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <% } %>
            </div>
    <br>
</body>
</html>