<!DOCTYPE html>
<html>
<head>
    <%- include("partials/header"); %>
    <title> I HATE MY SELF</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
    <br>
    <br>
  
 <!-- Example single danger button -->
 <form action = "/PartList" method = "POST">
  <p>Parts filter, choose what you want to see.</p>
  <select name="partType" id="partType">
    <option value="ALL">Part type ( default: all)</option>
    <option value="RAM">RAM</option>
    <option value="CPU">CPU</option>
    <option value="GPU">GPU</option>
    <option value="SSD">SSD</option>
  </select>
  <select name="minPrice" id="minPrice">
    <option value="0">Min price ( default: 0$)</option>
    <option value ="50">50$</option>
    <option value="100">100$</option>
    <option value="500">500$</option>
    <option value="1000">1000$</option>
    <option value="2000">2000$</option>
    <option value="3000">3000$</option>
    <option value="4000">4000$</option>
    <option value="5000">5000$</option>
  </select>
  <select name="maxPrice" id="maxPrice">
    <option value="100000000000">Max price (default: no limit)</option>
    <option value ="50">50$</option>
    <option value="100">100$</option>
    <option value="500">500$</option>
    <option value="1000">1000$</option>
    <option value="2000">2000$</option>
    <option value="3000">3000$</option>
    <option value="4000">4000$</option>
    <option value="5000">5000$</option>
    <option value="10000">10000$</option>
  </select>
  <div>
    <% if (errors !=="") {%>
        <% errors.forEach((item) => { %>
            <div class = "alert alert-danger">
              <%= item %>
            </div>
        <% }); %>
    <% }; %>
  </div>
  <br><br>
      <input type="submit" value="submit" />
  </form>
            <div class = "row">
                <% for (let [index,products] of PartList.entries() ) { %>
                  <% let address = "/details/" + products.productCode %>
                  <% let link = "/" + products.imageLink %>
                    <tr>
                        <div class="col-md-3">
                            <div class="card h-100" style="width: 18rem;">
                                <img src= <%= link %> class="card-img-top" alt=$<%= products.buyPrice%>>
                                <div class="card-body">
                                <h5 class="card-title"><%= products.productName%></h5>
                                <p class="card-text"><%= products.productLine%> by <%= products.productBrand%></p>
                                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                <div class="button-container">
                                  <form method = "post" action = "/add-to-cart-from-part-list" target = "dummyframe">
                                      <input type = "hidden" value = "<%= products.productCode%>" name = "productCode">
                                      <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">$<%= products.buyPrice %></button>
                                  </form>
                                  <a href = <%= address %> ><button class = "btn btn-primary"> Detail </button></a>
                                </div>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Done!</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          Added to cart!
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                            </div>
                        </div>
                    </tr>
                    <% } %>
            </div>
    <br>
</body>
</html>